jot-latex
jot-latex.zip
jot/jot-manual.pdf
jotfm:jot - GitHub.webloc
jot/jot-manual.aux
jot/jot-manual.log
jot/jot-manual.out
jot/paper-template.aux
jot/paper-template.log
jot/paper-template.out
jot/paper-template.pdf